/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@keyframes abc {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.headx {
  /* opacity: 0; */
  animation: abc 1s linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hero-background {
  background: url(/img/p2.webp);
  /* background: red; */
  height: 550px;
  position: fixed;
  background-size: cover;
  background-position: center;
  top: 0;
  /* z-index: 500; */
}

.hero-inner {
  background: url(/img/p1.webp);
  height: 550px;
  position: fixed;
  background-size: cover;
  background-position: center;
  top: 0;
}