.post-list-item {  
  cursor: pointer;
  padding: 25px;
  margin-left: -25px;
  margin-right: -25px;
  box-sizing: content-box;  
}

.post-list-item:hover {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  transition: 0.25s;
}

.post-read-more {
  font-weight: 600;
  font-size: 10pt;
  color:  var(--color-primary);
  margin-top: 5px;
}
