#header-container {
  right: 0;
  left: 0;
  height: 100vh;
  top: 0;
  grid-template-columns: 1fr 1fr;
  color: white;
  position: fixed;
  background-image: url('/img/back.jpg');
  background-size: cover;
  background-position: bottom;
  z-index: -2;
}

#lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
