.span-1 {
  grid-column: auto / span 1;
}

.span-2 {
  grid-column: auto / span 2;
}

.span-3 {
  grid-column: auto / span 3;

}

@media only screen and (max-width: 600px) {
  .span-1 {
    grid-column: auto / span 1;
  }

  .span-2 {
    grid-column: auto / span 1;
  }
}