#header-container {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  grid-template-columns: 1fr 1fr;
  background-color: #111;
  color: white;
  position: fixed;
  background-image: url('/img/background.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

#header {
  color: white;
  width: 900px;
  padding: 12px;
  border-radius: 5px;
}

#header h1 {
  color: white;
}

.rex {
  animation-duration: 0.8s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

.trans {
  pointer-events: none;
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

