#header-container {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  color: white;
  position: fixed;
  background-image: url('/img/header.jpeg');
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-size: cover; */
}

.trans {
  opacity: 0;
  transition: 0.7s;
}

