#inner {
  width: 800px;
  margin: 0 auto;
  padding: 15px;
}

#first {
  top: 0;
  left:0;
  right: 0;
  background-color: #111;
  color: white;
  height: 70px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
