#header-container {
  right: 0;
  left: 0;
  height: 50vh;  
  top: 0;
  grid-template-columns: 1fr 1fr;
  color: white;
  position: fixed;
  background-image: url('/img/an_bk.jpg');  
  background-size: cover;
  background-position: bottom;
  z-index: -2;
}

#header {
  color: white;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  height: 50vh;
}

#lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rex {
  animation-duration: 0.8s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

/* .trans {
  pointer-events: none;
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
} */

/* @keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

