.inner {
  background-image: url(/img/me.jpg);
  backdrop-filter: blur(5px);
  height: 120px;
  width: 120px;
  background-size: contain;
  margin-bottom: 10px;
  border-radius: 50%;
  color: white;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 64px;
  background: rgba(200, 200, 200, 0.04);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  padding: 20px;
}

.hero {
  background: radial-gradient(at top left, rgba(47, 49, 58, 0.97), rgba(26, 27, 35, 0.97));
  margin-top: 30px;
  border-radius: 7px;
  overflow: clip;
  backdrop-filter: blur(4px);
  height: 550px;
  width: 1000px;

  @media only screen and (max-width: 600px) {
    width: auto;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}