#main {
  position: relative;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

#main-inner {
  margin: 0 auto 0 auto;
  padding-top: 100px;
  margin-top: -10px;
  width: 650px;
  background-color: white;
}