.tag {
  position: fixed;
  left: 0;
  top: 30px;
  padding: 10px 2px;
  background-color: black;
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border-radius:  0 5px 5px 0;
  cursor: pointer;
}
